        <footer class="footer"><!-- item 3 in MAIN container -->
        <div class="footer-content">
            <p>Google <a href="https://www.google.com/policies/privacy/partners/">privacy &amp; terms</a>. This site is not affiliated with Google or Google Calendar. <a href="http://makemore.coffee/contact/">Report bugs</a>.</p>
        </div>
        </footer>
	</div>
    </div>
  </body>
</html>
          