<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{title}}</title>
    
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quick and easy tool to create links for your Google Calendar events, with timezone handling.">
  
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito+Sans|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">

    <script type="text/javascript" src="javascripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/javascripts/clipboard.js-master/dist/clipboard.min.js"></script>
    <script type="text/javascript" src="/javascripts/form.js"></script>
    <script type="text/javascript" src="/javascripts/form-resize.js"></script>

  
    <!-- Analytics: begin -->
     {{> analytics }}
    <!-- Analytics: end -->
    
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N6NMG2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->