<!DOCTYPE html>
<html lang="en">

  <!-- Head:begin -->
  {{> head }}
  <!-- Head:end -->
 
  <!-- Page content: begin -->
  <div class="content-container">
    
    {{{body}}}
    
  </div><!-- Page content: end -->

  <!-- Footer:begin -->
  {{> footer }}
  <!-- Footer:end -->


  


