  <!-- Head:begin -->
  {{> head }}
  <!-- Head:end -->
 
  <!-- Page content: begin -->
     <div class="container"><!-- main flexbox container -->
        
      <div class="header"><!-- item 1 in MAIN container -->
        <div class="header-content">
          
        <h1>{{error.status}}</h1>
       <h1>{{message}}</h1>
        </div>
      </div>

      <div class="page-body"><!-- item 2 in MAIN container // Begin Body Container-->

        

        <div>
        <p>Try returning to <a href="/">the homepage</a>.</p>
        </div>
        </div>
  
  {{> footer }}