
/* Imports. In production, you can move these back to main CSS file to save on requests */
@import url(reset.css);



/* GLOBAL STYLES */
body {
    font-family: helvetica, arial, sans-serif;
    min-height: 100vh;
    
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1.8em;
}

a {
    border-bottom: 1px dotted;
    color: #1BC8DF;
    cursor: pointer;
    text-decoration: none;
}
 
p {
    line-height: 1.5;
}

.container {
    
}


/* HEADER STYLES */
.header {

    background-color: #fbc547;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    height: 10vh;
}
.header-content {

    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    
}
/* PAGE BODY */
.page-body {

    margin: 10px;
}


/* FOOTER STYLES */
.footer {
    
    background-color: #000;
    padding: 6vh 0 6vh 0;
    
}

.footer-content {
    padding: 0 0 0 5% ;
    color: #fff;
    font-size: 0.8rem;

}