
    
    <div class="container">
        
        <div class="header">
            <div class="header-content">
            <h1>Create a Link to a Google Calendar Event</h1>
            </div>
        </div>

        <div class="page-body">
            <h2>Fill out your event details</h2>

            <div class="form-container">
            {{> calendarform }}
            </div>
  
        </div>

      
    </div>

	 
          
          
