   
   
   
    <div class="container"><!-- main flexbox container -->
        
      <div class="header"><!-- item 1 in MAIN container -->
        <div class="header-content">
          <h1>Create a Link to a Google Calendar Event</h1>
        </div>
      </div>

      <div class="page-body"><!-- item 2 in MAIN container // Begin Body Container-->

        <div class="col1"><!-- left column in main container -->
          <h2>Fill out your event details</h2>

          <div class="form-container">
            {{> calendarform }}
          </div>
        </div>

        <div class="col2"><!-- right column in main container -->
          <h2>Copy your link</h2>
              
          <!-- output GCal link -->
          <div class="form-container">
            <textarea class="box" id="outputBox" type="text" name="gCalOutput" readonly cols="35" rows="5"></textarea><br>
            <div class="btn-container">
              <button type="button" class="btn btn-copy" data-clipboard-action="copy" data-clipboard-target="#outputBox">Copy</button>
            </div>
            </form>
          </div>
        </div>
        </div>